html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  background: #f3df49;
}

a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header h1 {
  width: 20em;
  height: 20em;
  background: url(img/logo.svg) no-repeat;
  background-size: 20em 20em;
  margin: 0 auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

main {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

main p {
  font-size: 1.7em;
}

main .follow-us {
  font-size: 1.4em;
  margin-bottom: 6em;
}

h2 {
  margin-top: 2em;
  font-size: 3em;
}

.event {
  margin-bottom: 5em;
}

.event .date {
  font-size: 2.2em;
  font-weight: bold;
  color: #444;
}

.event h3 {
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 0em;
  margin-top: 0em;
}

.event h4 {
  margin-bottom: 1em;
  margin-top: 0em;
  font-size: 2em;
  font-weight: lighter;
}
