:root {
    --main-color: #f3df49;
}

/**
 * Minified by jsDelivr using clean-css v4.1.11.
 * Original file: /npm/modern-normalize@0.5.0/modern-normalize.css
 * 
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
}
:root {
    -moz-tab-size: 4;
    tab-size: 4;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}
hr {
    height: 0;
}
abbr[title] {
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier,
        monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    padding: 0;
}
progress {
    vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
summary {
    display: list-item;
}

/**
  Utilities

**/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.hide-content {
    text-indent: -9999px;
}

/**
  Commons
**/

html {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #333;
}

/**

**/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-color) url(../img/svg/big-logo.svg) no-repeat;
    background-position: calc(100vw - 1160px + 30px) 90%;
    background-size: 1160px;

    text-align: center;
    margin-bottom: 5rem;
}

.header__title {
    width: 179px;
    height: 179px;

    background: url(../img/svg/header-logo.svg) no-repeat center center;
    background-size: contain;
}

.header__intro {
    max-width: 640px;
    margin: 0 0 2rem;
    font-size: 3rem;
    font-weight: 700;
}

.header__subintro {
    max-width: 640px;
    margin: 0 0 4rem;
    font-size: 2rem;
}

.follow-us {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.follow-us__slack-counter {
    vertical-align: bottom;
}

.follow-us__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 0;
}
.follow-us__socials li {
    background: transparent no-repeat center center;
    background-size: contain;
    list-style: none;
    margin: 0;
    width: 100px;
    height: 100px;
    /* background: red; */
}

.follow-us__socials li a {
    display: block;
    width: 100%;
    height: 100%;
}

li.follow-us__socials--slack {
    background-image: url(../img/svg/social-slack.svg);
    width: 60px;
    height: 60px;
}

li.follow-us__socials--meetup {
    background-image: url(../img/svg/social-meetup.svg);
    width: 81px;
    height: 77px;
}

li.follow-us__socials--twitter {
    background-image: url(../img/svg/social-twitter.svg);
    width: 60px;
    height: 60px;
}

li.follow-us__socials--facebook {
    background-image: url(../img/svg/social-facebook.svg);
    width: 55px;
    height: 55px;
}

li.follow-us__socials--github {
    background-image: url(../img/svg/social-github.svg);
    width: 60px;
    height: 60px;
}

/**
    Events
**/

.events {
    text-align: center;
}

.events__intro {
    font-size: 3rem;
    line-height: 4rem;
    width: 70vw;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.events__grid {
    display: grid;
    position: relative;
    height: 100%;
    /* grid-auto-flow: dense; */
    grid-template-columns: 332px 332px 332px;
    grid-auto-rows: 332px;
    grid-gap: 1px 1px;
    margin: 1.5rem;
    width: 996px;
    margin: 0 auto;
    margin-bottom: 5rem;
    z-index: 1;
}

.events__grid--placeholders {
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.events__grid--placeholders > div {
    position: relative;
    background: rgba(243, 224, 72, 0.5);
}

.events__grid--placeholders > div:before {
    content: "JS";
    position: absolute;
    bottom: -20px;
    right: -40px;
    font-size: 18rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    transform: rotate(-45deg);
}

.events_title {
    display: inline-block;
    font-size: 4rem;
    padding: 0.1rem 1rem;
    background-color: var(--main-color);
}

.events__event {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-align: left;
    padding: 2rem;
    margin: 10px;
    background: #f7f7f7;
}

.events__event h3 {
    margin: 0;
    flex-grow: 1;
}

.events__event-date {
    margin-bottom: 1rem;
}

.events__event--placeholder .events__event-author,
.events__event--placeholder .events__event-date {
    display: none;
}

.events__event--next {
    color: white;
    background-color: #ec1c40;
    background-image: url(../img/svg/event-next.svg);
    background-position: 130% 120%;
    background-repeat: no-repeat;
    background-size: 80%;
}

.events__event--double {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-evenly;
}

.events__event-author a {
    text-decoration: underline;
}

.events__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.events__event--multiple .events__content {
    justify-content: space-around;
}

.events__content__talk {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.events__event--multiple .events__content__talk {
    flex-grow: initial;
}

footer {
    background-color: #ebebeb;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem;
}

footer a {
    font-weight: 700;
}

@media screen and (max-width: 1023px) {
    .events__grid {
        grid-template-columns: 332px 332px;
        width: 664px;
    }
}

@media screen and (max-width: 767px) {
    .header__intro {
        font-size: 2.3rem;
    }

    .header__subintro {
        font-size: 2rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .follow-us {
        padding: 0 2rem;
    }
    .follow-us__socials {
        width: 100%;
        padding: 0 10px;
    }

    .events__intro {
        width: 100%;
        padding: 2rem;
        font-size: 3rem;
        line-height: 3.6rem;
    }

    .events__grid {
        width: 100%;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        padding: 0 10px;
    }

    .events__event--double {
        grid-column-start: 1;
        grid-column-end: 2;
        justify-content: space-evenly;
    }

    .events__event {
        min-height: 332px;
    }
}
