/* Space out content a bit */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-family: "Open Sans",serif;

}

a, a:hover, a:visited, a:link  {
  color: rgb(253, 224, 51);
}

i {
  color: rgb(253, 224, 51);
}

.fa-ul {
  margin-left:1.5em;
}

nav {
  display: block;
  overflow: hidden;
}

nav ul {
  margin: 5px 0;
}

.fa {
  margin-right: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: rgb(253, 224, 51);
  color:#333333;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

.nav > li > a {
  color:#ffffff;
}

.lead {
  font-style: italic;
  font-size: 1.4em;
  text-align: center;
  color:#333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: rgb(253, 224, 51);
}

h1.header {
  margin-top: 30px;
  margin-bottom: 10px;
}
.grow {
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.grow:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.intro {
  margin-bottom: 40px;
}

.event {
  margin-bottom: 40px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.title {
  paddind-top:30px;
  paddind-top:30px;
  padding-bottom: 10px;
  color: rgb(253, 224, 51);
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.followus h3 {
  margin-top: 10px;
}

.share {
  margin-top: 15px;
}

.tag{
  background-color: #333;
  border: 1px solid;
  border-color: #EEE;
  margin-top:1em;
  margin-bottom:1em;
}

.list-unstyled i{
  vertical-align: middle;
  margin-right: 5px;
}

.list-unstyled span{
  vertical-align: middle;
}

.list-unstyled li{
  margin-bottom: 10px;
}

.list-unstyled{
  padding-left: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
